<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
      <iframe class="margin-center" width="900"  height="400" frameborder="0" scrolling="no" src="//plot.ly/~dat-ai/3.embed?link=false"></iframe>
      <iframe class="margin-center" width="400" height="400" frameborder="0" scrolling="no" src="//plot.ly/~dat-ai/5.embed?link=false"></iframe>
    </div>
  </div>
</div>
