<div class="rateYo <%= ajax_submit ? 'ajax_submit' : '' %>" data-joke-id="<%= joke_id.to_s %>"></div>
<%= hidden_field_tag 'joke-rating-' + joke_id.to_s %>
<%= javascript_include_tag 'rating_stars' %>
