<% if @jokes.empty? %>
    <div class="panel panel-default card-panel">
      <div class="panel-body">
        <p class="text-center"><span class="bold">WOOOOOAH!</span> You've rated every joke in our system! We hope you had a pun time!</p>
        <div class="col-md-offset-3 col-md-6">
          <%= image_tag 'glasses_dog.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
<% else %>
    <h4 class="text-center text-light-blue">Based on your data, the following jokes from our database have been recommended
      to you:</h4>
    <% @jokes.each do |joke| %>
        <div class="panel panel-default card-panel">
          <div class="panel-body">
            <%= joke.joke_text %>
            <%= render partial: 'shared/rating_stars', locals: {joke_id: joke.id, ajax_submit: true} %>
          </div>
        </div>
    <% end %>
    <div class='text-center'>
      <%= link_to 'Generate New Jokes', jokes_path, class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>