<h4 class="text-center text-light-blue">Let us know what you think of these jokes</h4>

<%= form_tag('/joke_raters', method: 'post') do %>

    <% @jokes.each do |joke| %>
        <div class="panel panel-default card-panel">
          <div class="panel-body">
            <%= joke.joke_text %>
            <%= render partial: 'shared/rating_stars', locals: { joke_id: joke.id, ajax_submit: false } %>
          </div>
        </div>
    <% end %>


    <div class="text-center">
      <%= submit_tag('Submit', class: 'btn btn-primary btn-lg', id: 'submit-ratings') %>
    </div>
<% end %>