<h1 class="bold text-center page-title">About Us</h1>


<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">Project Management</p>
		<table class="table table-light ">
			<tbody>
				<tr>
					<td class="col-md-4">Naomi Okiddy	 </td>
					<td class="col-md-4">Rishi Subramanian</td>
					<td class="col-md-4">Hyoung-yoon Kim</td>
				</tr>
				<tr>
					<td class="col-md-4">Dillon Carlos</td>
					<td class="col-md-4">Aidan Daniels-Soles</td>
				</tr>

			</tbody>
		</table>
    </div>
  </div>
</div>
<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">Software Engineering</p>
		<table class="table table-light ">
			<tbody>
				<tr>
					<td class="col-md-4">Daniel Perano</td>
					<td class="col-md-4">Andrew van Tonningen</td>
					<td class="col-md-4">Domnall Hegarty</td>
				</tr>
				<tr>
					<td class="col-md-4">Michelle Tang</td>
					<td class="col-md-4">Eric Ai</td>
					<td class="col-md-4">Hasith Rajakarunanayake</td>
				</tr>
				<tr>
					<td class="col-md-4">Simon Chan</td>
					<td class="col-md-4">Edward Xu</td>
					<td class="col-md-4">Faiyz Rahman</td>
				</tr>
				<tr>
					<td class="col-md-4">Daniel Wang</td>
				</tr>
			</tbody>
		</table>
    </div>
  </div>
</div>
<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">Machine Learning</p>
		<table class="table table-light ">
			<tbody>
				<tr>
					<td class="col-md-4">Chirag Kashyap</td>
					<td class="col-md-4">Kush Patel</td>
					<td class="col-md-4">Dominic Yang</td>
				</tr>
				<tr>
					<td class="col-md-4">Sarah Dang</td>
					<td class="col-md-4">Andy Tran</td>
					<td class="col-md-4">Christine Tech</td>
				</tr>
				<tr>	
					<td class="col-md-4">Yash Bhartia</td>
					<td class="col-md-4">Aakaash Kapoor</td>
					<td class="col-md-4">Isaac Kim</td>
				</tr>
				<tr>
					<td class="col-md-4">Haofei Chen</td>
					<td class="col-md-4">Ehsan Fanaian</td>
				</tr>
			</tbody>
		</table>
    </div>
  </div>
</div>
<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">UI/UX</p>
		<table class="table table-light ">
			<tbody>
				<tr>
					<td class="col-md-4">Tsz Chi Leung</td>
					<td class="col-md-4">Dat Nguyen</td>
					<td class="col-md-4">Hao Lin</td>
				</tr>
				<tr>
					<td class="col-md-4">Gunther Schuler</td>
					<td class="col-md-4">Jian Yuan</td>
					<td class="col-md-4">Yiru Sun</td>
				</tr>
				<tr>
					<td class="col-md-4">Gabriel Yin</td>
				</tr>	
			</tbody>
		</table>
    </div>
  </div>
</div>
<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">QA</p>
		<table class="table table-light ">
			<tbody>
				<tr>
					<td class="col-md-4">Nathan Telles</td>
					<td class="col-md-4">Alvis Leung</td>
					<td class="col-md-4"></td>
				</tr>	
			</tbody>
		</table>
    </div>
  </div>
</div>

<div class="panel panel-default card-panel">
  <div class="panel-body">
    <div className="d-flex align-self-center">
	<p class="text-center bold">Thank you for using Com<span class="logo-ai">AI</span>dian.</p>
    </div>
  </div>
</div>
