backports.functools-lru-cache==1.4
click==6.7
climate==0.4.6
CVXcanon==0.1.1
cvxpy==0.4.11
cycler==0.10.0
dill==0.2.7.1
downhill==0.4.0
ecos==2.0.5
fancyimpute==0.2.0
fastcache==1.0.2
knnimpute==0.1.0
matplotlib==2.1.0
multiprocess==0.70.5
numpy==1.13.3
pandas==0.21.0
plac==0.9.6
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
scs==2.0.2
six==1.11.0
subprocess32==3.2.7
Theano==1.0.0
toolz==0.8.2
